<div class="row mt-5">
    <div class="col-md-5 m-auto">
        <div class="card card-body text-center">
            <h1><i class="fab fa-behance-square fa-4x"></i></h1>
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-outline-primary mb-2">Register</a>
            <a href="/users/login" class="btn btn-outline-primary">Login</a>
        </div>
    </div>
</div>